.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(img/Rectangle\ 4255.png) right top no-repeat;
  .logo {
    margin: 26px 156px 80px 45px;
    float: left;
  }
  .menu {
    margin: 47px 142px 102px 0px;
  }
  .containersupp {
    width: 1170px;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
