* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1380px;
  margin: 0% auto;
  border: 1px solid transparent;
}
.fon {
  background-image: url(imgmaket/Rectangle\ 31.jpg);
  width: 1380px;
  height: 599px;
}
.header {
  width: 1380px;
  padding: 24px 32px;
}
.flight {
  float: left;
}
