* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1380px;
  margin: 0% auto;
  border: 1px solid transparent;
}
.fon {
  /* background-image: url(imgmaket/Rectangle\ 32.png),
    url(imgmaket/122f863358e82f3cc1dbab4d71a827f9.jpg); */
  background: url(imgmaket/Rectangle\ 32.png) no-repeat,
    url(imgmaket/Rectangle\ 31.jpg);
  width: 1380px;
  height: 599px;
  /* background-size: cover; */
  /* border-radius: 24px; */
  margin-top: 30px;
}
.header {
  width: 1380px;
  padding: 24px 32px;
}
.flight {
  float: left;
  margin: 0px 32px 0px 0px;
}
.stays {
  float: left;
}
.signup {
  float: right;
  border-radius: 8px;
  background: var(--Neutrals, #fff);
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
}
.login {
  float: right;
  margin: 0px 32px 0px 0px;
  height: 48px;
  padding-top: 10px;
}
.span1 {
  display: inline-block;
  vertical-align: super;
  color: var(--Neutrals, #fff);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.span2 {
  display: inline-block;
  vertical-align: super;
  color: var(--Neutrals, #fff);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.span3 {
  display: inline-block;
  vertical-align: sub;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 10px 24px;
}
.span4 {
  display: inline-block;
  vertical-align: sub;
  color: var(--Neutrals, #fff);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.logo {
  float: left;
  margin: 0px auto 0px 362px;
  padding-top: 5px;
  /* text-align: center; */
}
.air {
  width: 24px;
  height: 24px;
}
.ion {
  width: 24px;
  height: 24px;
}
.h {
  clear: both;
  text-align: center;
  margin: 54px 314px 150px 313px;
}
.helping {
  color: var(--Neutrals, #fff);
  text-align: center;
  font-size: 45px;
  font-family: "TradeGothic LT Extended";
}
.live {
  color: var(--Neutrals, #fff);
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 16px;
  font-family: "TradeGothic LT Extended";
}
.special {
  color: var(--Neutrals, #fff);
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.fix {
  padding-top: 10px;
  border: 1px solid transparent;
  width: 260px;
  float: left;
}
.booking {
  width: 1232px;
  padding: 16px 32px 0px;
  border-radius: 16px;
  background-color: #ffffff;
  margin: -97px auto 0px auto;
  box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
}
.flights {
  float: left;
  /* margin-right: 32px; */
}
.stays2 {
  /* margin-left: 32px; */
}
.span5 {
  margin-left: 8px;
  display: inline-block;
  vertical-align: super;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  width: 57px;
  height: 20px;
}
.span6 {
  margin-left: 8px;
  display: inline-block;
  vertical-align: super;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  width: 44px;
  height: 20px;
}
.containersupp {
  width: 1232px;
  margin-left: 74px;
  margin-right: 74px;
}
.flights_stays {
  width: 239px;
  height: 48px;
  vertical-align: middle;
  padding: 12px 0px;
  margin-bottom: 48px;
}
.poloska {
  width: 1px;
  height: 48px;
  background: #d7e2ee;
  float: left;
  margin-left: 32px;
  margin-right: 32px;
}
.fromto {
  width: 324px;
  height: 56px;
  padding: 4px 0px 4px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  margin-right: 24px;
  float: left;
}
.lahore {
  width: 260px;
  height: 40px;
  float: left;
}
.span7 {
  vertical-align: -13px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  width: 130px;
  height: 20px;
}
.imgswap {
  padding: 12px;
  text-align: right;
}
.trip2 {
  width: 140px;
  height: 56px;
  padding: 4px 0px 4px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  float: left;
  margin-right: 24px;
}
.span8 {
  vertical-align: -13px;
  width: 56px;
  height: 20px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.return {
  width: 76px;
  height: 40px;
  float: left;
}
.imgchevron {
  padding: 12px;
  text-align: right;
}
.depart {
  width: 324px;
  height: 56px;
  padding: 8px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  float: left;
  margin-right: 24px;
}
.date {
  width: 194px;
  height: 40px;
  float: left;
}
.span9 {
  vertical-align: -10px;
  width: 166px;
  height: 20px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.passenger {
  width: 308px;
  height: 56px;
  padding: 8px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  float: left;
}
.span10 {
  vertical-align: -10px;
  width: 178px;
  height: 20px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.show_filghts {
  width: 144px;
  height: 48px;
  float: right;
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--Mint-Green, #8dd3bb);
  margin: 32px 16px 32px 0px;
}
.plane {
  vertical-align: -9px;
}
.span11 {
  vertical-align: -6px;
  display: inline-block;
  width: 92px;
  height: 17px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.promo_code {
  float: right;
  width: 142px;
  height: 48px;
  padding: 8px 0px;
  margin: 32px 24px 32px 0px;
}
.add {
  vertical-align: -9px;
}
.span12 {
  vertical-align: -6px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.plan {
  height: 36px;
  align-self: stretch;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 16px;
}
.search_flights {
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.h2 {
  width: 1059px;
  float: left;
  margin-bottom: 40px;
}
.more_places {
  width: 159px;
  display: flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Mint-Green, #8dd3bb);
  float: right;
  margin-top: 96px;
}
.span13 {
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  width: 117px;
}
.Istanbul {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-right: 32px;
  margin-bottom: 32px;
}
.Turkey {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/be76b5a0f44cb9eeaeadb5f68d795b83.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Istanbul_Turkey {
  /* width: 252px; */
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.flightsoll {
  float: left;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.tochka {
  float: left;
  margin: 0px 8px 0px 8px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
}
.hotelsoll {
  float: left;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.tochka2 {
  float: left;
  margin: 0px 8px 0px 8px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
}
.h3 {
  padding: 23px 0px;
}
.resortsoll {
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.Sydney {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-right: 30px;
  margin-bottom: 32px;
}
.Australia {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/7d28e1016c3800ef03b0eab86df1b51a.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Sydney_Australia {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.Baku {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-bottom: 32px;
}
.Azerbaijan {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/b40ae8c4ca191d25c725cef40161f2dc.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Baku_Azerbaijan {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.Male {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-right: 32px;
  margin-bottom: 32px;
}
.Maldives {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/de76c176537445d2c4a326a9ce3d8888.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Male_Maldives {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.Paris {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-right: 30px;
  margin-bottom: 32px;
}
.France {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/4947512c31bb3a36ecdcbe9060bc5e66.jpg),
    lightgray 0px -39.411px / 100% 150.157% no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Paris_France {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.New_York {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-bottom: 32px;
}
.US {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/c7502432a7964876c3738a32bd3c8d2a.jpg),
    lightgray -22.5px 0px / 150% 100% no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.New_York_US {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.London {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-bottom: 80px;
  margin-right: 32px;
}
.UK {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/d810d0bdb1a98d0094fd15f45500e4ec.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.London_UK {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.Tokyo {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-bottom: 80px;
  margin-right: 30px;
}
.Japan {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/d80c247d1e479b0d0d348e905846e66a.jpg),
    lightgray -10.981px -1.496px / 119.463% 129.44% no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Tokyo_Japan {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.Dubai {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-bottom: 80px;
}
.UAE {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/770bb055bde67f8c3f1b154b9c298b3b.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Dubai_UAE {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.imgflights {
  background: url(imgmaket/Rectangle\ 32.png) no-repeat,
    url(imgmaket/e96ccdb0e5e6ed83359941973439ac12.jpg),
    lightgray -1.02px 0px / 123.536% 100% no-repeat;
  width: 604px;
  height: 559px;
  border-radius: 20px;
  background-size: cover;
  float: left;
  padding: 372px 101px 24px 114px;
  margin-right: 24px;
  margin-bottom: 70px;
}
.choose_flights {
  width: 389px;
  color: var(--Neutrals, #fff);
  text-align: center;
  font-family: TradeGothic LT Extended;
  font-size: 40px;
  font-weight: 700;
}
.choose_flights2 {
  width: 389px;
  color: var(--Neutrals, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.show_filghts2 {
  width: 144px;
  height: 48px;
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--Mint-Green, #8dd3bb);
  margin: 16px auto 0px auto;
}
.imghotels {
  background: url(imgmaket/Rectangle\ 32.png) no-repeat,
    url(imgmaket/80b8b446b1d71db54d7b5f47d8ad53a0.jpg),
    lightgray -1.02px 0px / 123.536% 100% no-repeat;
  width: 604px;
  height: 559px;
  border-radius: 20px;
  background-size: cover;
  float: right;
  padding: 372px 101px 24px 114px;
  margin-bottom: 70px;
}
.h4 {
  width: 1128px;
  float: left;
}
.reviews {
  height: 36px;
  align-self: stretch;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}
.golobe {
  width: 851px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}
.see_all {
  width: 88px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Mint-Green, #8dd3bb);
}
.span14 {
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.foncard {
  margin-top: 22px;
  width: 425px;
  height: 586px;
  border-radius: 20px;
  background: rgba(141, 211, 187, 0.4);
  float: left;
  margin-left: 26px;
  margin-bottom: 92px;
}
.Olga {
  padding: 24px;
  border-radius: 20px;
  background: var(--Neutrals, #fff);
  box-shadow: 2px 4px 16px 0px rgba(17, 34, 17, 0.1);
  float: left;
  width: 425px;
  height: 584px;
  margin-left: -451px;
}
.foncard2 {
  margin-top: 22px;
  width: 425px;
  height: 586px;
  border-radius: 20px;
  background: rgba(141, 211, 187, 0.4);
  float: left;
  margin-left: 50px;
  margin-bottom: 92px;
}
.Thomas {
  padding: 24px;
  border-radius: 20px;
  background: var(--Neutrals, #fff);
  box-shadow: 2px 4px 16px 0px rgba(17, 34, 17, 0.1);
  float: left;
  width: 425px;
  height: 584px;
  margin-left: -451px;
}
.foncard3 {
  margin-top: 22px;
  width: 425px;
  height: 586px;
  border-radius: 20px;
  background: rgba(141, 211, 187, 0.4);
  float: left;
  margin-left: 50px;
  margin-bottom: 92px;
}
.Eliot {
  padding: 24px;
  border-radius: 20px;
  background: var(--Neutrals, #fff);
  box-shadow: 2px 4px 16px 0px rgba(17, 34, 17, 0.1);
  float: left;
  width: 425px;
  height: 584px;
  margin-left: -451px;
}
.containersupp2 {
  width: 1500px;
}
.review_title {
  height: 80px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: TradeGothic LT Extended;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.review {
  height: 37px;
  align-self: stretch;
  overflow: hidden;
  color: var(--Blackish-Green, #121);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}
.viewmore {
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  text-align: right;
  font-family: TradeGothic LT Extended;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
}
.ion_star {
  margin-right: 12px;
  margin-bottom: 20px;
}
.people_review {
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: TradeGothic LT Extended;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}
.Weave_Studios {
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}
.imggoogle {
  margin-right: 8px;
  float: left;
}
.google {
  color: var(--Blackish-Green, #121);
  font-family: TradeGothic LT Extended;
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
}
.divgoogle {
  margin-bottom: 40px;
}
.pic_review {
  height: 200px;
  align-self: stretch;
  border-radius: 8px;
  background: url(imgmaket/2d9afcfc8f6b2105b415f4d1a3703551.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
}
.pic_review2 {
  height: 200px;
  align-self: stretch;
  border-radius: 8px;
  background: url(imgmaket/2bc9380fe02cf65bd8e281ed4d43885a.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
}
.pic_review3 {
  height: 200px;
  align-self: stretch;
  border-radius: 8px;
  background: url(imgmaket/7f44409c34363230b50babb01b3efc89.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
}
.subscribe {
  width: 1232px;
  padding: 0px 24px;
  border-radius: 20px;
  background: #cdeae1;
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  float: left;
  position: relative;
  margin-bottom: 71px;
}
.newsletter {
  width: 633px;
  padding: 24px 0px;
  float: left;
}
.email_address {
  width: 473px;
  height: 56px;
  padding: 8px 0px 8px 16px;
  border-radius: 4px 4px 4px 4px;
  background-color: White;
  float: left;
}
.span14 {
  vertical-align: -11px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.subscribe_newsletter {
  width: 364px;
  color: var(--Blackish-Green, #121);
  font-family: TradeGothic LT Extended;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 24px;
}
.the_travel {
  color: var(--Blackish-Green, #121);
  font-family: TradeGothic LT Extended;
  font-size: 20px;
  font-weight: 700;
  width: 117px;
  height: 25px;
  margin-bottom: 8px;
}
.get_inspired {
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.span15 {
  color: var(--Neutrals, #fff);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  vertical-align: -9px;
}
.buttonsubscribe {
  width: 104px;
  height: 56px;
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--Blackish-Green, #121);
  float: left;
  margin-left: 16px;
}
.vector {
  float: right;
  margin-top: 46px;
  font-size: 0;
}
.contact {
  width: 1440;
  float: left;
  padding-bottom: 64px;
}
.group {
  margin-bottom: 24px;
  width: 120px;
}
.facebook {
  margin-right: 10px;
}
.twitter {
  margin-right: 10px;
}
.youtube {
  margin-right: 10px;
}
.icons {
  margin-right: 140px;
  float: left;
}
.our_destinations {
  float: left;
  margin-right: 23px;
  width: 175px;
}
.our_activities {
  float: left;
  margin-right: 23px;
  width: 175px;
}
.travel_blogs {
  float: left;
  margin-right: 23px;
  width: 175px;
}
.about_us {
  float: left;
  margin-right: 23px;
  width: 175px;
}
.contact_us {
  float: left;
  width: 175px;
}
.country {
  margin-top: 12px;
}
h5 {
  color: var(--Blackish-Green, #121);
  font-family: TradeGothic LT Extended;
  font-size: 16px;
  font-weight: 700;
}
.country {
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
}
.containersupp3 {
  width: 1440px;
  margin: 0% auto;
  border: 1px solid transparent;
  float: left;
  background-color: #8dd3bb;
  height: 393px;
  margin-top: -199px;
  padding-top: 190px;
  margin-left: -106px;
  padding-left: 104px;
}
