* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1380px;
  margin: 0% auto;
  border: 1px solid transparent;
}
.fon {
  /* background-image: url(imgmaket/Rectangle\ 32.png),
    url(imgmaket/122f863358e82f3cc1dbab4d71a827f9.jpg); */
  background: url(imgmaket/Rectangle\ 32.png) no-repeat, url(imgmaket/Rectangle\ 31.jpg);
  width: 1380px;
  height: 599px;
  /* background-size: cover; */
  /* border-radius: 24px; */
  margin-top: 30px;
}
.header {
  width: 1380px;
  padding: 24px 32px;
}
.flight {
  float: left;
  margin: 0px 32px 0px 0px;
}
.stays {
  float: left;
}
.signup {
  float: right;
  border-radius: 8px;
  background: var(--Neutrals, #fff);
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
}
.login {
  float: right;
  margin: 0px 32px 0px 0px;
  height: 48px;
  padding-top: 10px;
}
.span1 {
  display: inline-block;
  vertical-align: super;
  color: var(--Neutrals, #fff);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.span2 {
  display: inline-block;
  vertical-align: super;
  color: var(--Neutrals, #fff);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.span3 {
  display: inline-block;
  vertical-align: sub;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 10px 24px;
}
.span4 {
  display: inline-block;
  vertical-align: sub;
  color: var(--Neutrals, #fff);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.logo {
  float: left;
  margin: 0px auto 0px 362px;
  padding-top: 5px;
  /* text-align: center; */
}
.air {
  width: 24px;
  height: 24px;
}
.ion {
  width: 24px;
  height: 24px;
}
.h {
  clear: both;
  text-align: center;
  margin: 54px 314px 150px 313px;
}
.helping {
  color: var(--Neutrals, #fff);
  text-align: center;
  font-size: 45px;
  font-family: "TradeGothic LT Extended";
}
.live {
  color: var(--Neutrals, #fff);
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 16px;
  font-family: "TradeGothic LT Extended";
}
.special {
  color: var(--Neutrals, #fff);
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.fix {
  padding-top: 10px;
  border: 1px solid transparent;
  width: 260px;
  float: left;
}
.booking {
  width: 1232px;
  padding: 16px 32px 0px;
  border-radius: 16px;
  background-color: #ffffff;
  margin: -97px auto 0px auto;
  box-shadow: 0px 4px 16px 0px rgba(141, 211, 187, 0.15);
}
.flights {
  float: left;
  /* margin-right: 32px; */
}
.stays2 {
  /* margin-left: 32px; */
}
.span5 {
  margin-left: 8px;
  display: inline-block;
  vertical-align: super;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  width: 57px;
  height: 20px;
}
.span6 {
  margin-left: 8px;
  display: inline-block;
  vertical-align: super;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  width: 44px;
  height: 20px;
}
.containersupp {
  width: 1232px;
  margin-left: 74px;
  margin-right: 74px;
}
.flights_stays {
  width: 239px;
  height: 48px;
  vertical-align: middle;
  padding: 12px 0px;
  margin-bottom: 48px;
}
.poloska {
  width: 1px;
  height: 48px;
  background: #d7e2ee;
  float: left;
  margin-left: 32px;
  margin-right: 32px;
}
.fromto {
  width: 324px;
  height: 56px;
  padding: 4px 0px 4px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  margin-right: 24px;
  float: left;
}
.lahore {
  width: 260px;
  height: 40px;
  float: left;
}
.span7 {
  vertical-align: -13px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  width: 130px;
  height: 20px;
}
.imgswap {
  padding: 12px;
  text-align: right;
}
.trip2 {
  width: 140px;
  height: 56px;
  padding: 4px 0px 4px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  float: left;
  margin-right: 24px;
}
.span8 {
  vertical-align: -13px;
  width: 56px;
  height: 20px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.return {
  width: 76px;
  height: 40px;
  float: left;
}
.imgchevron {
  padding: 12px;
  text-align: right;
}
.depart {
  width: 324px;
  height: 56px;
  padding: 8px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  float: left;
  margin-right: 24px;
}
.date {
  width: 194px;
  height: 40px;
  float: left;
}
.span9 {
  vertical-align: -10px;
  width: 166px;
  height: 20px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.passenger {
  width: 308px;
  height: 56px;
  padding: 8px 16px;
  border: 1px solid #79747e;
  border-radius: 4px 4px 0px 0px;
  float: left;
}
.span10 {
  vertical-align: -10px;
  width: 178px;
  height: 20px;
  color: #1c1b1f;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.show_filghts {
  width: 144px;
  height: 48px;
  float: right;
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--Mint-Green, #8dd3bb);
  margin: 32px 16px 32px 0px;
}
.plane {
  vertical-align: -9px;
}
.span11 {
  vertical-align: -6px;
  display: inline-block;
  width: 92px;
  height: 17px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.promo_code {
  float: right;
  width: 142px;
  height: 48px;
  padding: 8px 0px;
  margin: 32px 24px 32px 0px;
}
.add {
  vertical-align: -9px;
}
.span12 {
  vertical-align: -6px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.plan {
  height: 36px;
  align-self: stretch;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 16px;
}
.search_flights {
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.h2 {
  width: 1059px;
  float: left;
  margin-bottom: 40px;
}
.more_places {
  width: 159px;
  display: flex;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Mint-Green, #8dd3bb);
  float: right;
  margin-top: 96px;
}
.span13 {
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  width: 117px;
}
.Istanbul {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
  margin-right: 32px;
}
.Turkey {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/be76b5a0f44cb9eeaeadb5f68d795b83.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.Istanbul_Turkey {
  /* width: 252px; */
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.flightsoll {
  float: left;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.tochka {
  float: left;
  margin: 0px 8px 0px 8px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
}
.hotelsoll {
  float: left;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.tochka2 {
  float: left;
  margin: 0px 8px 0px 8px;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
}
.h3 {
  padding: 23px 0px;
}
.resortsoll {
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}
.Sydney {
  width: 390px;
  padding: 16px;
  border-radius: 16px;
  background: var(--Neutrals, #fff);
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
  height: 122px;
  float: left;
}
.Australia {
  width: 90px;
  height: 90px;
  border-radius: 8px;
  background: url(imgmaket/7d28e1016c3800ef03b0eab86df1b51a.jpg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-right: 16px;
  float: left;
}
.h4 {
  padding: 23px 0px;
}
.Sydney_Australia {
  margin-bottom: 8px;
  align-self: stretch;
  color: var(--Blackish-Green, #121);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}