@import '../../reset.scss';
@import '../../variables.scss';
@import '../../scrollbar.scss';

.container {
	max-width: 1920px;
	margin: 0 auto;
	header {
		max-width: 1380px;
		margin: 0 auto;
		padding: 46px 10px 40px 10px;
		transition: all 0.3s;
		@media (max-width: 815px) {
			padding: 15px 10px 15px 10px;
		}
		.navbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.logo {
				transition: all 0.5s;
				&:hover {
					transform: scale(1.1);
				}
			}
			.nav-links {
				.hamburger {
					display: none;
					font-size: 24px;
					cursor: pointer;
					@media (max-width: 815px) {
						display: block;
						padding: 20px 0px;
					}
					.hamburger-line {
						background-color: $color_black_black;
						display: block;
						height: 2px;
						width: 24px;
						position: relative;
						&::before,
						&::after {
							background-color: $color_black_black;
							content: '';
							display: block;
							position: absolute;
							transition: all 0.3s;
							width: 100%;
							height: 100%;
						}
						&::before {
							top: 7px;
						}
						&::after {
							top: -7px;
						}
					}
				}
				#checkbox_toggle {
					display: none;
					@media (max-width: 815px) {
						&:checked + label ~ .menu {
							display: block;
							max-width: 100%;
							transition: all 0.5s;
							max-height: 100%;
						}
						&:checked ~ .hamburger .hamburger-line {
							background-color: transparent;
						}
						&:checked ~ .hamburger .hamburger-line {
							&::before {
								transform: rotate(-45deg);
								top: 0;
							}
						}
						&:checked ~ .hamburger .hamburger-line {
							&::after {
								transform: rotate(45deg);
								top: 0;
							}
						}
					}
				}
				.menu {
					display: flex;
					@media (max-width: 815px) {
						display: none;
						max-height: 0px;
						overflow: hidden;
						-webkit-transition: max-height 0.4s linear;
						-moz-transition: max-height 0.4s linear;
						transition: max-height 0.4s linear;
						position: absolute;
						background-color: $color_white;
						text-align: center;
						right: 0;
						left: 0;
						z-index: 100;
					}
					li {
						padding: 0px 15px;
						transition: all 0.5s;
						@media (max-width: 1005px) {
							padding: 0px 7px;
						}
						@media (max-width: 895px) {
							padding: 0px 4px;
						}
						@media (max-width: 815px) {
							padding: 20px;
							&:nth-child(1) {
								border-top: 1px solid rgb(44, 47, 55, 0.25);
								border-bottom: 1px solid rgb(44, 47, 55, 0.25);
							}
							&:nth-child(2),
							&:nth-child(3),
							&:nth-child(4),
							&:nth-child(5),
							&:nth-child(6),
							&:nth-child(7) {
								border-bottom: 1px solid rgb(44, 47, 55, 0.25);
							}
						}
						a {
							@include fontst(
								$color_black_black,
								'TT Norms',
								12px,
								700,
								normal,
								0.6px,
								uppercase
							);
							transition: all 0.5s;
							&:hover {
								color: $color_blue;
							}
							@media (max-width: 850px) {
								font-size: 10px;
							}
						}
					}
				}
			}
		}
	}
}
section {
	background: url(../img/bg.png) no-repeat;
	background-size: cover;
	padding: 100px 0px 100px 270px;
	margin: 0 auto;
	max-width: 1920px;
	transition: 0.5s;
	@media (max-width: 1100px) {
		padding: 100px 0px 100px 170px;
	}
	@media (max-width: 950px) {
		padding: 120px 0px 100px 60px;
	}
	@media (max-width: 710px) {
		padding: 120px 0px 100px 0px;
	}
	@media (max-width: 320px) {
		background: url(../img/bglite.png) no-repeat;
	}
	.error {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 580px;
		@media (max-width: 710px) {
			margin: 0 auto;
		}
		h1 {
			@include fontst($button, 'TT Norms', 300px, 700, normal, normal, none);
			transition: 0.5s;
			@media (max-width: 710px) {
				font-size: 100px;
			}
		}
		h2 {
			@include fontst(
				$color_black_black,
				'TT Norms',
				22px,
				400,
				normal,
				normal,
				none
			);
			transition: 0.5s;
			@media (max-width: 710px) {
				font-size: 18px;
			}
		}
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #2991d6;
			width: 200px;
			margin-top: 50px;
			transition: 0.5s;
			span {
				margin-right: 20px;
				@include fontst(
					$color_white,
					'TT Norms',
					14px,
					700,
					150%,
					normal,
					none
				);
			}
			div {
				padding: 16px;
				background-color: $lite_blue;
				.fa-chevron-left {
					color: $color_white;
				}
			}
		}
	}
}
footer {
	max-width: 1920px;
	margin: 0 auto;
	background-color: $color_footer;
	padding: 46px 359px 50px 270px;
	display: flex;
	justify-content: space-between;
	transition: 0.5s;
	@media (max-width: 1850px) {
		padding: 46px 251px 50px 189px;
	}
	@media (max-width: 1660px) {
		padding: 46px 176px 50px 132px;
	}
	@media (max-width: 1530px) {
		padding: 46px 123px 50px 92px;
	}
	@media (max-width: 1440px) {
		padding: 46px 86px 50px 64px;
	}
	@media (max-width: 1370px) {
		padding: 46px 60px 50px 45px;
	}
	@media (max-width: 815px) {
		justify-content: flex-start;
		flex-direction: column;
	}
	@media (max-width: 490px) {
		padding: 50px 10px;
	}
	.logo {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		transition: 0.5s;
		@media (max-width: 1000px) {
			margin-right: 80px;
		}
		@media (max-width: 815px) {
			margin-right: 0px;
			margin-bottom: 40px;
		}
		img {
			margin-bottom: 10px;
		}
		span {
			@include fontst($color_white, 'TT Norms', 12px, 700, 150%, normal, none);
		}
	}
	.menu {
		.menu-list {
			display: inline-flex;
			width: 893px;
			justify-content: space-between;
			transition: 0.5s;
			@media (max-width: 1320px) {
				width: auto;
			}
			@media (max-width: 815px) {
				flex-direction: column;
			}
			li {
				position: relative;
				.menu-link {
					@include fontst(
						$color_footer_a,
						'TT Norms',
						14px,
						500,
						150%,
						normal,
						none
					);
					margin-bottom: 10px;
				}
				.link-last {
					margin-bottom: 0px;
				}
				.sub-menu-list {
					@media (max-width: 815px) {
						display: flex;
						flex-wrap: wrap;
					}
					.sub-menu-link {
						@include fontst(
							$color_white,
							'TT Norms',
							16px,
							400,
							150%,
							normal,
							none
						);
						display: inline-block;
						margin-right: 10px;
						margin-bottom: 10px;
						transition: 0.5s;
						&:hover {
							color: $color_blue;
						}
					}
					span {
						@include fontst(
							$color_white,
							'TT Norms',
							16px,
							400,
							150%,
							normal,
							none
						);
					}
					p {
						@include fontst(
							$color_footer_a,
							'TT Norms',
							14px,
							500,
							150%,
							normal,
							none
						);
						margin-top: 10px;
						margin-bottom: 10px;
					}
				}
				.list-last {
					@media (max-width: 815px) {
						display: flex;
						flex-direction: column;
					}
				}
			}
			.li-first {
				display: flex;
				flex-direction: column;
				transition: 0.5s;
				@media (max-width: 1320px) {
					margin-left: 70px;
				}
				@media (max-width: 815px) {
					margin-left: 0px;
					margin-bottom: 40px;
				}
			}
			.li-last {
				margin-bottom: 0px;
			}
		}
	}
}
