* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@keyframes block-one {
  0% {
    right: -2000px;
  }
  100% {
    left: 0;
  }
}
@keyframes block-one {
  0% {
    right: -2000px;
  }
  100% {
    left: 0;
  }
}
body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  background: #cfcfcf;
}
body::-webkit-scrollbar-thumb {
  background-color: #32a1df;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #2991d6;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
.container header {
  max-width: 1380px;
  margin: 0 auto;
  padding: 46px 10px 40px 10px;
  transition: all 0.3s;
}
@media (max-width: 815px) {
  .container header {
    padding: 15px 10px 15px 10px;
  }
}
.container header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container header .navbar .logo {
  transition: all 0.5s;
}
.container header .navbar .logo:hover {
  transform: scale(1.1);
}
.container header .navbar .nav-links .hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 815px) {
  .container header .navbar .nav-links .hamburger {
    display: block;
    padding: 20px 0px;
  }
}
.container header .navbar .nav-links .hamburger .hamburger-line {
  background-color: #000000;
  display: block;
  height: 2px;
  width: 24px;
  position: relative;
}
.container header .navbar .nav-links .hamburger .hamburger-line::before, .container header .navbar .nav-links .hamburger .hamburger-line::after {
  background-color: #000000;
  content: "";
  display: block;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.container header .navbar .nav-links .hamburger .hamburger-line::before {
  top: 7px;
}
.container header .navbar .nav-links .hamburger .hamburger-line::after {
  top: -7px;
}
.container header .navbar .nav-links #checkbox_toggle {
  display: none;
}
@media (max-width: 815px) {
  .container header .navbar .nav-links #checkbox_toggle:checked + label ~ .menu {
    display: block;
    max-width: 100%;
    transition: all 0.5s;
    max-height: 100%;
  }
  .container header .navbar .nav-links #checkbox_toggle:checked ~ .hamburger .hamburger-line {
    background-color: transparent;
  }
  .container header .navbar .nav-links #checkbox_toggle:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .container header .navbar .nav-links #checkbox_toggle:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}
.container header .navbar .nav-links .menu {
  display: flex;
}
@media (max-width: 815px) {
  .container header .navbar .nav-links .menu {
    display: none;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s linear;
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 100;
  }
}
.container header .navbar .nav-links .menu li {
  padding: 0px 15px;
  transition: all 0.5s;
}
@media (max-width: 1005px) {
  .container header .navbar .nav-links .menu li {
    padding: 0px 7px;
  }
}
@media (max-width: 895px) {
  .container header .navbar .nav-links .menu li {
    padding: 0px 4px;
  }
}
@media (max-width: 815px) {
  .container header .navbar .nav-links .menu li {
    padding: 20px;
  }
  .container header .navbar .nav-links .menu li:nth-child(1) {
    border-top: 1px solid rgba(44, 47, 55, 0.25);
    border-bottom: 1px solid rgba(44, 47, 55, 0.25);
  }
  .container header .navbar .nav-links .menu li:nth-child(2), .container header .navbar .nav-links .menu li:nth-child(3), .container header .navbar .nav-links .menu li:nth-child(4), .container header .navbar .nav-links .menu li:nth-child(5), .container header .navbar .nav-links .menu li:nth-child(6), .container header .navbar .nav-links .menu li:nth-child(7) {
    border-bottom: 1px solid rgba(44, 47, 55, 0.25);
  }
}
.container header .navbar .nav-links .menu li a {
  color: #000000;
  font-family: "TT Norms";
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.container header .navbar .nav-links .menu li a:hover {
  color: #2991d6;
}
@media (max-width: 850px) {
  .container header .navbar .nav-links .menu li a {
    font-size: 10px;
  }
}

section {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  padding: 100px 0px 100px 270px;
  margin: 0 auto;
  max-width: 1920px;
  transition: 0.5s;
}
@media (max-width: 1100px) {
  section {
    padding: 100px 0px 100px 170px;
  }
}
@media (max-width: 950px) {
  section {
    padding: 120px 0px 100px 60px;
  }
}
@media (max-width: 710px) {
  section {
    padding: 120px 0px 100px 0px;
  }
}
@media (max-width: 320px) {
  section {
    background: url(../img/bglite.png) no-repeat;
  }
}
section .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 580px;
}
@media (max-width: 710px) {
  section .error {
    margin: 0 auto;
  }
}
section .error h1 {
  color: #118bdd;
  font-family: "TT Norms";
  font-size: 300px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  transition: 0.5s;
}
@media (max-width: 710px) {
  section .error h1 {
    font-size: 100px;
  }
}
section .error h2 {
  color: #000000;
  font-family: "TT Norms";
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  transition: 0.5s;
}
@media (max-width: 710px) {
  section .error h2 {
    font-size: 18px;
  }
}
section .error a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2991d6;
  width: 200px;
  margin-top: 50px;
  transition: 0.5s;
}
section .error a span {
  margin-right: 20px;
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
}
section .error a div {
  padding: 16px;
  background-color: #32a1df;
}
section .error a div .fa-chevron-left {
  color: #ffffff;
}

footer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #0c0e16;
  padding: 46px 359px 50px 270px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}
@media (max-width: 1850px) {
  footer {
    padding: 46px 251px 50px 189px;
  }
}
@media (max-width: 1660px) {
  footer {
    padding: 46px 176px 50px 132px;
  }
}
@media (max-width: 1530px) {
  footer {
    padding: 46px 123px 50px 92px;
  }
}
@media (max-width: 1440px) {
  footer {
    padding: 46px 86px 50px 64px;
  }
}
@media (max-width: 1370px) {
  footer {
    padding: 46px 60px 50px 45px;
  }
}
@media (max-width: 815px) {
  footer {
    justify-content: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 490px) {
  footer {
    padding: 50px 10px;
  }
}
footer .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s;
}
@media (max-width: 1000px) {
  footer .logo {
    margin-right: 80px;
  }
}
@media (max-width: 815px) {
  footer .logo {
    margin-right: 0px;
    margin-bottom: 40px;
  }
}
footer .logo img {
  margin-bottom: 10px;
}
footer .logo span {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
}
footer .menu .menu-list {
  display: inline-flex;
  width: 893px;
  justify-content: space-between;
  transition: 0.5s;
}
@media (max-width: 1320px) {
  footer .menu .menu-list {
    width: auto;
  }
}
@media (max-width: 815px) {
  footer .menu .menu-list {
    flex-direction: column;
  }
}
footer .menu .menu-list li {
  position: relative;
}
footer .menu .menu-list li .menu-link {
  color: #606269;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  margin-bottom: 10px;
}
footer .menu .menu-list li .link-last {
  margin-bottom: 0px;
}
@media (max-width: 815px) {
  footer .menu .menu-list li .sub-menu-list {
    display: flex;
    flex-wrap: wrap;
  }
}
footer .menu .menu-list li .sub-menu-list .sub-menu-link {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}
footer .menu .menu-list li .sub-menu-list .sub-menu-link:hover {
  color: #2991d6;
}
footer .menu .menu-list li .sub-menu-list span {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
}
footer .menu .menu-list li .sub-menu-list p {
  color: #606269;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 815px) {
  footer .menu .menu-list li .list-last {
    display: flex;
    flex-direction: column;
  }
}
footer .menu .menu-list .li-first {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
@media (max-width: 1320px) {
  footer .menu .menu-list .li-first {
    margin-left: 70px;
  }
}
@media (max-width: 815px) {
  footer .menu .menu-list .li-first {
    margin-left: 0px;
    margin-bottom: 40px;
  }
}
footer .menu .menu-list .li-last {
  margin-bottom: 0px;
}/*# sourceMappingURL=scss.css.map */