* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background: url(../img/Rectangle\ 4255.png) no-repeat right top, linear-gradient(180deg, #f1f1f1 0%, #f0f2f1 16.25%, #ebedec 43.26%, #e6e8e7 72.5%, #dee2e1 100%);
}
.wrapper .header {
  padding: 19px 45px 80px 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.wrapper .header .button {
  width: 210px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.45);
  padding: 10px;
}
.wrapper .header .button button {
  width: 190px;
  flex-shrink: 0;
  border-radius: 17px;
  border: none;
  background: #5ccd6a;
  box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
  padding: 19px 42px 19px 43px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-family: "Ruberoid";
}
.wrapper .header .header-menu {
  display: flex;
  flex-grow: 1;
  margin-right: 142px;
  margin-left: 156px;
}
.wrapper .header .header-menu ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.wrapper .header .header-menu ul li {
  color: #495e4c;
  font-family: "Proxima Nova Rg";
  font-size: 15px;
  font-weight: 400;
  text-transform: lowercase;
  display: inline;
}
.wrapper .container {
  width: 1170px;
  margin: 0px auto;
}
.wrapper .container::after {
  content: "hello";
  visibility: hidden;
}
.wrapper .container .text {
  display: flex;
  width: 520px;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper .container .text .main-text {
  display: flex;
  width: 520px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}
.wrapper .container .text .main-text h2 {
  color: #495e4c;
  font-family: "Ruberoid";
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  text-transform: capitalize;
  font-weight: 500;
}
.wrapper .container .text .main-text .line {
  width: 148px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 1.5px;
  background: var(--unnamed, #78c081);
  margin-right: 45px;
}
.wrapper .container .text .main-text h1 {
  color: var(--unnamed, #78c081);
  font-family: "Ruberoid";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 74px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 600;
  margin-bottom: 20px;
}
.wrapper .container .text .ellipse {
  display: flex;
  margin-bottom: 52px;
}
.wrapper .container .text .ellipse img {
  margin-right: 10px;
  align-self: self-start;
  margin-top: 11px;
}
.wrapper .container .text .ellipse img.ellipse-img {
  margin-right: 12px;
}
.wrapper .container .text .ellipse h3 {
  color: #7ca381;
  font-family: "Proxima Nova Rg";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.wrapper .container .text .contacts-main {
  display: flex;
}
.wrapper .container .text .contacts-main img {
  margin-right: 20px;
  width: 32px;
  height: 32px;
  margin-left: 14px;
}
.wrapper .container .text .contacts-main img.telephone {
  margin-right: 22px;
  margin-left: 0px;
}
.wrapper .container .text .contacts-main .contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper .container .text .contacts-main .contact span {
  color: #7b897d;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 73px;
}
.wrapper .container .text .contacts-main .contact span.not-margin {
  margin-right: 0px;
}
.wrapper .container .text .button-2 {
  width: 477px;
  flex-shrink: 0;
  border-radius: 40px;
  background: rgba(120, 192, 129, 0.25);
  padding: 15px;
  margin-bottom: 28px;
  margin-top: 63px;
}
.wrapper .container .text .button-2 button {
  flex-shrink: 0;
  border-radius: 30px;
  background: #5ccd6a;
  box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
  border: none;
  color: #fff;
  font-family: "Ruberoid";
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.68px;
  text-transform: uppercase;
  padding: 32px 123px 33px 123px;
}

.container {
  margin-top: 80px;
  width: 1170px;
  margin: 100px auto 0px;
}
.container .uslugi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .uslugi .left h2 {
  color: #495e4c;
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  text-transform: capitalize;
  font-weight: 500;
}
.container .uslugi .left .text_uslugi {
  margin-top: 10px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.container .uslugi .left .text_uslugi .line {
  width: 245px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1.5px;
  background: #78c081;
  align-self: center;
}
.container .uslugi .left p {
  color: #848484;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
}
.container .uslugi .obertka {
  display: flex;
}
.container .uslugi .obertka .help {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .uslugi .obertka .help .fonpravo {
  width: 75px;
  height: 243px;
  flex-shrink: 0;
  border-radius: 45px 0px 0px 0px;
  background: #d9fadd;
  display: flex;
  justify-content: end;
}
.container .uslugi .obertka .help .fonpravo .dop-pravo {
  width: 65px;
  height: 233px;
  flex-shrink: 0;
  border-radius: 40px 0px 0px 0px;
  background: #5ccd6a;
  box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
  align-self: end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}
.container .uslugi .obertka .help .fonpravo .dop-pravo img {
  margin: 25px 16px 0px 16px;
}
.container .uslugi .obertka .help .fonpravo .dop-pravo p {
  color: #fff;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(-90deg);
  margin: -170px 0px 15px -35px;
}
.container .uslugi .obertka .help .fonpravo .dop-pravo p span {
  margin-left: 5px;
}
.container .uslugi .obertka .help .fonpravo-2 {
  width: 75px;
  height: 243px;
  flex-shrink: 0;
  border-radius: 0px 0px 0px 45px;
  background: #d9fadd;
  display: flex;
  justify-content: end;
}
.container .uslugi .obertka .help .fonpravo-2 .dop-pravo-2 {
  width: 65px;
  height: 233px;
  flex-shrink: 0;
  border-radius: 0px 0px 0px 40px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}
.container .uslugi .obertka .help .fonpravo-2 .dop-pravo-2 img {
  margin: 25px 16px 0px 16px;
}
.container .uslugi .obertka .help .fonpravo-2 .dop-pravo-2 p {
  color: #7ca281;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(-90deg);
  margin-bottom: 83px;
}
.container .uslugi .obertka .right {
  width: 538px;
  flex-shrink: 0;
  border-radius: 65px;
  background: #d9fadd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .uslugi .obertka .right .right-1 {
  display: flex;
  align-items: flex-start;
}
.container .uslugi .obertka .right .right-1.margin {
  margin-top: 129px;
}
.container .uslugi .obertka .right .right-1.margin-2 {
  margin-bottom: 128px;
}
.container .uslugi .obertka .right p {
  color: #495d4c;
  font-family: "Proxima Nova Rg";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.container .uslugi .obertka .right .square {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  margin-right: 15px;
  margin-left: 40px;
}
.container .uslugi .obertka .right .square img {
  margin: 7px;
}
.container .uslugi .obertka .right .square img.extractor {
  margin: 7px 6px 6px 6px;
}
.container .uslugi .obertka .right .square img.air-cooler {
  margin: 10px 7px;
}

.wrapper-2 {
  background: url(../img/Vector.png) no-repeat 0px 70px, url(../img/list2.png) no-repeat 663px 346px, url(../img/Group\ 20402.svg) no-repeat 1535px 190px;
}
.wrapper-2 .container {
  background: url(../img/list1.png) no-repeat 191px 127px, url(../img/little_list-1.svg) 170px 359px no-repeat, url(../img/little_list-2.svg) 262px 363px no-repeat, url(../img/little_list-3.svg) 227px 484px no-repeat;
  margin-top: 100px;
}
.wrapper-2 .container .h2 {
  width: 867px;
  display: flex;
  flex-direction: column;
}
.wrapper-2 .container .h2 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-2 .container .h2 p {
  color: #495e4c;
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
  text-transform: capitalize;
  font-weight: 500;
}
.wrapper-2 .container .h2 .line {
  width: 236px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 1.5px;
  background: var(--unnamed, #78c081);
}
.wrapper-2 .container .main-price {
  display: flex;
  margin-top: 85px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper-2 .container .main-price div {
  width: 257px;
  height: 144px;
  margin-bottom: 103px;
  box-shadow: 0px -2px 2px 0px rgba(208, 208, 208, 0.36) inset;
  border-radius: 30px;
}
.wrapper-2 .container .main-price div.top_div {
  margin-bottom: 35px;
}
.wrapper-2 .container .main-price div .price {
  width: 119px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 6px 10px 10px 0px;
  background: #d9fadd;
  margin-top: 14px;
  margin-bottom: 62px;
  padding: 5px 15px 5px 16px;
}
.wrapper-2 .container .main-price div .price p {
  color: #495d4c;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.wrapper-2 .container .main-price div .price.iskl {
  margin-bottom: 50px;
}
.wrapper-2 .container .main-price div.pic-1 {
  background: url(../img/pic1.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-1 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 13px;
  display: inline-block;
}
.wrapper-2 .container .main-price div.pic-2 {
  background: url(../img/pic2.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-2 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 13px;
  display: inline-block;
}
.wrapper-2 .container .main-price div.pic-3 {
  background: url(../img/pic3.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-3 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 13px;
  display: inline-block;
}
.wrapper-2 .container .main-price div.pic-4 {
  background: url(../img/pic4.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-4 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 13px;
  display: inline-block;
}
.wrapper-2 .container .main-price div.pic-5 {
  background: url(../img/pic5.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-5 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 3px;
  margin-top: 4px;
  display: inline-block;
}
.wrapper-2 .container .main-price div.pic-6 {
  background: url(../img/pic6.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-6 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 13px;
  display: inline-block;
}
.wrapper-2 .container .main-price div.pic-7 {
  background: url(../img/pic7.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-7 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 13px;
  display: inline-block;
}
.wrapper-2 .container .main-price div.pic-8 {
  background: url(../img/pic8.png) no-repeat top;
}
.wrapper-2 .container .main-price div.pic-8 span {
  color: #78c081;
  font-family: "Ruberoid";
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 13px;
  display: inline-block;
}
.wrapper-2 .container .uslugi-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
.wrapper-2 .container .uslugi-2 .left-2 {
  display: flex;
  width: 524px;
  flex-direction: column;
}
.wrapper-2 .container .uslugi-2 .left-2 p {
  color: #495e4c;
  font-family: "Ruberoid";
  font-size: 45px;
  line-height: 60px;
  text-transform: capitalize;
  font-weight: 500;
}
.wrapper-2 .container .uslugi-2 .left-2 .obertka-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-2 .container .uslugi-2 .left-2 .obertka-2 .line {
  width: 100px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1.5px;
  background: var(--unnamed, #78c081);
}
.wrapper-2 .container .uslugi-2 .left-2 .obertka-2 p:first-of-type {
  margin-bottom: 10px;
}
.wrapper-2 .container .uslugi-2 .right-2 {
  display: flex;
  width: 563px;
  flex-direction: column;
}
.wrapper-2 .container .uslugi-2 .right-2 p {
  color: var(--unnamed, #78c081);
  font-family: "Ruberoid";
  font-size: 26px;
  font-weight: 500;
  text-transform: capitalize;
}
.wrapper-2 .container .uslugi-2 .right-2 span {
  color: #7ca381;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
}
.wrapper-2 .container .uslugi-2 .right-2 div {
  display: flex;
  margin-top: 12px;
}
.wrapper-2 .container .uslugi-2 .right-2 div.aaa {
  margin-top: 13px;
}
.wrapper-2 .container .uslugi-2 .right-2 img {
  margin-right: 10px;
}
.wrapper-2 .container .uslugi-2 .right-2 img.bbb {
  align-self: flex-start;
}
.wrapper-2 .container .ellipse-img-2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.wrapper-2 .container .ellipse-img-2 .obertka-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-2 .container .ellipse-img-2 .obertka-3 .ellipse-fon {
  background: url(../img/Ellipse\ 6.svg) no-repeat;
  width: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.wrapper-2 .container .ellipse-img-2 .obertka-3 .ellipse-fon.fon-1 {
  padding: 20.84px 0px 20.12px;
}
.wrapper-2 .container .ellipse-img-2 .obertka-3 .ellipse-fon.fon-2 {
  padding: 21.84px 0px 21.12px;
}
.wrapper-2 .container .ellipse-img-2 .obertka-3 .ellipse-fon.fon-3 {
  padding: 25.84px 0px 24.13px;
}
.wrapper-2 .container .ellipse-img-2 .obertka-3 p {
  color: #495e4c;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  font-weight: 600;
}

.wrapper-3 {
  background: url(../img/Frame.svg) no-repeat right, #d9fadd;
}
.wrapper-3 .container {
  padding-top: 55px;
  margin-top: 0px;
}
.wrapper-3 .container p:first-of-type {
  color: #495e4c;
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 24px;
}
.wrapper-3 .container form {
  display: flex;
}
.wrapper-3 .container form input {
  padding: 20px 0px 20px 20px;
  height: 57px;
}
.wrapper-3 .container form input::-moz-placeholder {
  color: rgba(124, 163, 129, 0.7);
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
}
.wrapper-3 .container form input::placeholder {
  color: rgba(124, 163, 129, 0.7);
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
}
.wrapper-3 .container form input.input_text {
  width: 290px;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(73, 93, 76, 0.15);
  border: none;
  margin-top: 9px;
  margin-bottom: 58px;
  outline: none;
}
.wrapper-3 .container form input.input_tel {
  width: 290px;
  margin-right: 60px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(73, 93, 76, 0.15);
  border: none;
  margin-top: 9px;
  margin-bottom: 58px;
  outline: none;
}
.wrapper-3 .container form .border {
  border-radius: 20px;
  background: rgba(120, 192, 129, 0.25);
  padding: 10px;
  margin-bottom: 49px;
}
.wrapper-3 .container form .border .button-3 {
  width: 209px;
  flex-shrink: 0;
  border-radius: 17px;
  background: #9cd3a3;
  box-shadow: 2px -2px 12px 0px rgba(34, 111, 33, 0.36) inset;
  padding: 19px 50px 15px 51px;
  border: none;
  color: #fff;
  font-family: "Ruberoid";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.container .main-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main-about .about-us {
  display: flex;
  width: 531px;
  flex-wrap: wrap;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.1);
  padding: 45px 44px 33px 45px;
}
.container .main-about .about-us .p-about {
  color: #495e4c;
  font-family: "Ruberoid";
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-transform: capitalize;
}
.container .main-about .about-us .p-about:first-of-type {
  margin-bottom: 10px;
  margin-right: 15px;
}
.container .main-about .about-us .p-about.peculiarities {
  margin-bottom: 20px;
}
.container .main-about .about-us .pascal-vent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container .main-about .about-us .pascal-vent span {
  color: var(--unnamed, #78c081);
  font-family: "Ruberoid";
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 3px;
}
.container .main-about .about-us .pascal-vent .line {
  width: 166px;
  height: 1px;
  flex-shrink: 0;
  border-radius: 1.5px;
  background: var(--unnamed, #78c081);
  margin-bottom: 12px;
}
.container .main-about .about-us p {
  color: #848484;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.container .main-about .general-figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 513px;
}
.container .main-about .general-figures .general-1 {
  width: 216px;
  height: 122px;
  justify-content: center;
  margin-bottom: 93px;
  display: flex;
  flex-direction: column;
}
.container .main-about .general-figures .general-1 .p-general {
  color: var(--unnamed, #78c081);
  font-family: "Ruberoid";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.container .main-about .general-figures .general-1 .p-general .number {
  color: var(--unnamed, #78c081);
  text-align: center;
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 500;
  text-transform: capitalize;
}
.container .main-about .general-figures .general-1 span {
  align-self: center;
  color: #7ca381;
  text-align: center;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.container .main-about .general-figures .general-2 {
  width: 202px;
  margin-bottom: 93px;
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: center;
}
.container .main-about .general-figures .general-2 .p-general {
  color: var(--unnamed, #78c081);
  font-family: "Ruberoid";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.container .main-about .general-figures .general-2 .p-general .number {
  color: var(--unnamed, #78c081);
  text-align: center;
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 500;
  text-transform: capitalize;
}
.container .main-about .general-figures .general-2 span {
  align-self: center;
  color: #7ca381;
  text-align: center;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.container .main-about .general-figures .general-3 {
  width: 225px;
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: center;
}
.container .main-about .general-figures .general-3 .p-general {
  color: var(--unnamed, #78c081);
  font-family: "Ruberoid";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.container .main-about .general-figures .general-3 .p-general .number {
  color: var(--unnamed, #78c081);
  text-align: center;
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 500;
  text-transform: capitalize;
}
.container .main-about .general-figures .general-3 span {
  align-self: center;
  color: #7ca381;
  text-align: center;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.container .main-about .general-figures .general-4 {
  width: 229px;
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: center;
}
.container .main-about .general-figures .general-4 .p-general {
  color: var(--unnamed, #78c081);
  font-family: "Ruberoid";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.container .main-about .general-figures .general-4 .p-general .number {
  color: var(--unnamed, #78c081);
  text-align: center;
  font-family: "Ruberoid";
  font-size: 35px;
  font-weight: 500;
  text-transform: capitalize;
}
.container .main-about .general-figures .general-4 span {
  align-self: center;
  color: #7ca381;
  text-align: center;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}/*# sourceMappingURL=flex.css.map */