$color_blue: #2991d6;
$lite_blue: #32a1df;
$color_black: #080606;
$color_black_black: #000000;
$color_lite_gray: #8c94a6;
$color_gray: #cfcfcf;
$color_gray-2: #8b8b8b;
$color_gray_gray: #fafafa;
$color_white: #ffffff;

@mixin fontst($c, $ff, $fs, $fw, $lh, $ls, $tt) {
	color: $c;
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
	text-transform: $tt;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'TT Norms';
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.container {
	background: url(../img/video\ bg.png) no-repeat;
	max-width: 1920px;
	margin: 0 auto;
	header {
		position: relative;
		max-width: 1380px;
		margin: 0 auto;
		top: 0;
		left: 0;
		padding: 39px 10px 0px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 100;
		transition: 0.5s;
		@media (max-width: 815px) {
			padding: 20px 10px 0px 10px;
		}
		.logo {
			transition: 0.5s;
			&:hover {
				transform: scale(1.1);
			}
		}
		.navbar {
			display: flex;
			align-items: baseline;
			@media (max-width: 815px) {
				& {
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					transform-origin: top;
					background: $color_lite_gray;
					transform: scale(0);
					opacity: 0;
					padding: 0 15px;
				}
			}
			a {
				@include fontst(
					$color_white,
					'TT Norms',
					12px,
					700,
					normal,
					0.6px,
					uppercase
				);
				margin-left: 2rem;
				transition: 0.5s;
				&:hover {
					color: $color_blue;
				}
				@media (max-width: 1045px) {
					& {
						margin-left: 1rem;
					}
				}
				@media (max-width: 935px) {
					& {
						font-size: 10px;
					}
				}
				@media (max-width: 830px) {
					& {
						margin-right: 7px;
						margin-left: 0px;
					}
				}
				@media (max-width: 815px) {
					& {
						display: block;
						margin: 2rem 0;
						font-size: 12px;
					}
				}
			}
			.dropdown {
				position: relative;
				&:hover {
					.dropdown-menu {
						display: block;
						z-index: 150;
					}
				}
				&:hover {
					.dropdown-menu-2 {
						display: block;
						z-index: 150;
					}
				}
				.dropdown-menu {
					position: absolute;
					right: -22%;
					max-width: 151px;
					background: #505768;
					padding: 30px;
					display: none;
					@media (max-width: 1130px) {
						& {
							padding: 15px;
							height: 165px;
						}
					}
					@media (max-width: 815px) {
						& {
							right: 0%;
							left: 0%;
							padding: 15px 10px;
							width: 89px;
						}
					}
					a {
						margin: 0px 0px 10px 0px;
						display: inline-block;
						@media (max-width: 815px) {
							& {
								color: $color_white;
								font-size: 10px;
							}
						}
						&:hover {
							color: $color_blue;
						}
					}
				}
				.dropdown-menu-2 {
					position: absolute;
					max-width: 197px;
					background: #505768;
					padding: 30px;
					display: none;
					@media (max-width: 1245px) {
						& {
							padding: 20px;
						}
					}
					@media (max-width: 1130px) {
						& {
							padding: 15px;
							height: 200px;
						}
					}
					@media (max-width: 935px) {
						& {
							padding: 15px;
							height: 170px;
						}
					}
					@media (max-width: 815px) {
						& {
							right: 0%;
							left: 0%;
							padding: 15px 10px;
							width: 125px;
							height: 150px;
						}
					}
					a {
						margin: 0px 0px 10px 0px;
						display: inline-block;
						@media (max-width: 815px) {
							& {
								color: $color_white;
								font-size: 55%;
							}
						}
						&:hover {
							color: $color_blue;
						}
					}
				}
			}
		}
		input {
			display: none;
			&:checked + label ~ .navbar {
				transform: scale(1);
				opacity: 1;
			}
		}
		label {
			font-size: 2rem;
			margin-right: 10px;
			cursor: pointer;
			visibility: hidden;
			opacity: 0;
			color: $color_white;
			@media (max-width: 815px) {
				& {
					visibility: visible;
					opacity: 1;
					order: 1;
				}
			}
		}
	}
	.supp-container {
		max-width: 1380px;
		margin: 0 auto;
		padding: 213px 10px 40px 10px;
		transition: 0.5s;
		@media (max-width: 1340px) {
			& {
				padding: 100px 10px 60px 10px;
			}
		}
		@media (max-width: 1045px) {
			& {
				padding: 100px 10px 40px 10px;
			}
		}
		@media (max-width: 815px) {
			& {
				padding: 50px 10px 40px 10px;
			}
		}
		section {
			.company {
				margin-bottom: 196px;
				transition: 0.5s;
				@media (max-width: 1045px) {
					& {
						margin-bottom: 100px;
					}
				}
				@media (max-width: 815px) {
					& {
						margin-bottom: 50px;
					}
				}
				@media (max-width: 450px) {
					margin-bottom: 40px;
				}
				h1 {
					@include fontst($color_white, 'TT Norms', 54px, 800, 150%, 0.6, none);
					transition: 0.5s;
					@media (max-width: 1045px) {
						& {
							font-size: 45px;
						}
					}
					@media (max-width: 815px) {
						& {
							font-size: 30px;
						}
					}
					@media (max-width: 450px) {
						text-align: center;
					}
				}
				p {
					@include fontst($color_gray, 'TT Norms', 26px, 400, 150%, 0.6, none);
					@media (max-width: 1045px) {
						& {
							font-size: 21px;
						}
					}
					@media (max-width: 815px) {
						& {
							font-size: 18px;
						}
					}
					@media (max-width: 450px) {
						text-align: center;
					}
				}
			}
			.about {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				@media (max-width: 450px) {
					justify-content: center;
				}
				.prof {
					display: flex;
					align-items: flex-start;
					max-width: 330px;
					margin-bottom: 15px;
					box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
						0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
					transition: 0.5s;
					&:hover {
						transform: scale(1.1);
					}
					img {
						margin-right: 10px;
					}
					p {
						@include fontst(
							$color_white,
							'TT Norms',
							16px,
							700,
							150%,
							normal,
							none
						);
					}
					span {
						@include fontst(
							$color_gray,
							'TT Norms',
							14px,
							400,
							150%,
							normal,
							none
						);
					}
				}
			}
		}
	}
}
.two {
	background: transparent;
	padding: 120px 10px 0px 10px;
	@media (max-width: 815px) {
		& {
			padding: 50px 10px 0px 10px;
		}
	}
	main {
		section {
			h2 {
				@include fontst(
					$color_black_black,
					'TT Norms',
					46px,
					700,
					150%,
					normal,
					none
				);
				transition: 0.5s;
				@media (max-width: 815px) {
					& {
						font-size: 36px;
					}
				}
				@media (max-width: 815px) {
					& {
						font-size: 26px;
					}
				}
				@media (max-width: 450px) {
					& {
						text-align: center;
						font-size: 24px;
					}
				}
			}
			.blocks {
				display: flex;
				justify-content: space-between;
				margin-top: 50px;
				margin-bottom: 120px;
				transition: 0.5s;
				@media (max-width: 1000px) {
					& {
						flex-wrap: wrap;
						flex-direction: column;
					}
				}
				@media (max-width: 815px) {
					& {
						margin-bottom: 50px;
					}
				}
				@media (max-width: 450px) {
					& {
						margin-top: 20px;
					}
				}
				.block-one {
					background: url(../img/img.png) no-repeat;
				}
				.block-two {
					background: url(../img/img1.png) no-repeat;
				}
				.block-three {
					background: url(../img/img2.png) no-repeat;
				}
				.block {
					padding-top: 420px;
					transition: 0.5s;
					@media (max-width: 1340px) {
						& {
							padding-top: 380px;
						}
					}
					@media (max-width: 1045px) {
						& {
							padding-top: 320px;
						}
					}
					@media (max-width: 1000px) {
						& {
							background-size: cover;
							margin-bottom: 10px;
						}
					}
					@media (max-width: 815px) {
						& {
							padding-top: 280px;
						}
					}
					@media (max-width: 679px) {
						& {
							padding-top: 200px;
						}
					}
					@media (max-width: 450px) {
						& {
							padding-top: 100px;
						}
					}
					@media (max-width: 320px) {
						& {
							padding-top: 70px;
						}
					}
					.block-text {
						background-color: $color_blue;
						display: flex;
						align-items: center;
						transition: 0.5s;
						&:hover {
							background-color: $lite_blue;
						}
						p {
							width: 480px;
							margin-left: 30px;
							transition: 0.5s;
							@include fontst(
								$color_white,
								'TT Norms',
								18px,
								500,
								150%,
								normal,
								none
							);
							@media (max-width: 1789px) {
								& {
									width: 460px;
								}
							}
							@media (max-width: 1729px) {
								& {
									width: 420px;
								}
							}
							@media (max-width: 1609px) {
								& {
									width: 380px;
								}
							}
							@media (max-width: 1489px) {
								& {
									width: 340px;
								}
							}
							@media (max-width: 1369px) {
								& {
									width: 300px;
								}
							}
							@media (max-width: 1249px) {
								& {
									width: 260px;
								}
							}
							@media (max-width: 1129px) {
								& {
									width: 220px;
								}
							}
							@media (max-width: 1000px) {
								& {
									width: 100%;
								}
							}
							@media (max-width: 320px) {
								& {
									margin-left: 7px;
									font-size: 15px;
								}
							}
						}
						.arrow {
							background-color: $lite_blue;
							padding: 25px 25px 25px 24px;
							@media (max-width: 450px) {
								& {
									padding: 15px 15px 15px 14px;
								}
							}
							@media (max-width: 320px) {
								& {
									padding: 7px 7px 7px 6px;
								}
							}
						}
					}
				}
			}
			.viewport {
				max-width: 1920px;
				width: calc(100% - 20px);
				margin: 0 auto;
				margin-top: 50px;
				transition: 0.5s;
				margin-bottom: 150px;
				@media (max-width: 850px) {
					margin-bottom: 50px;
				}
				@media (max-width: 450px) {
					margin-top: 20px;
				}
				.list {
					list-style: none;
					display: flex;
					overflow-x: scroll;
					overscroll-behavior: contain;
					-webkit-overflow-scrolling: touch;
					touch-action: pan-x;
					&::-webkit-scrollbar {
						display: block;
					}
					&::-webkit-scrollbar {
						width: 0px;
					}
					&::-webkit-scrollbar-track {
						background: transparent;
					}
					&::-webkit-scrollbar-thumb {
						background: $color_gray;
						border-radius: 8px;
					}
					@media (max-width: 768px) {
						&::-webkit-scrollbar {
							display: none;
						}
					}
					.item {
						height: 120px;
						width: 218px;
						flex-shrink: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 10px;
						background-color: $color_gray_gray;
						transition: 0.5s;
						&:last-child {
							position: relative;
							margin-right: 0px;
						}
						&:last-child::after {
							position: absolute;
							left: 100%;
							height: 1px;
							width: 20px;
							display: block;
							content: '';
						}
						@media (max-width: 768px) {
							height: 90px;
							width: 150px;
						}
					}
				}
			}
		}
	}
}
.container-map {
	max-width: 1920px;
	background-color: $color_gray_gray;
	margin: 0 auto;
	padding: 119px 10px 120px 10px;
	transition: 0.5s;
	@media (max-width: 1815px) {
		& {
			padding: 50px 10px 120px 10px;
		}
	}
	.obj {
		max-width: 1315px;
		margin: 0 auto;
		h2 {
			@include fontst(
				$color_black_black,
				'TT Norms',
				46px,
				700,
				150%,
				normal,
				none
			);
			transition: 0.5s;
			@media (max-width: 815px) {
				& {
					font-size: 36px;
				}
			}
			@media (max-width: 815px) {
				& {
					font-size: 26px;
				}
			}
			@media (max-width: 450px) {
				& {
					text-align: center;
					font-size: 24px;
				}
			}
		}
		.map {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 50px;
			transition: 0.5s;
			@media (max-width: 1280px) {
				& {
					flex-direction: column;
					align-items: flex-start;
				}
			}
			@media (max-width: 450px) {
				margin-top: 20px;
			}
			.objects {
				display: flex;
				flex-direction: column;
				transition: 0.5s;
				@media (max-width: 1280px) {
					& {
						margin-bottom: 20px;
						flex-direction: row;
					}
				}
				.check {
					display: flex;
					flex-direction: column;
					padding-left: 15px;
					p {
						@include fontst(
							$color_blue,
							'TT Norms',
							80px,
							800,
							normal,
							normal,
							uppercase
						);
						transition: 0.5s;
						@media (max-width: 815px) {
							font-size: 50px;
						}
					}
					span {
						@include fontst(
							$color_gray-2,
							'TT Norms',
							18px,
							400,
							150%,
							normal,
							none
						);
						transition: 0.5s;
						@media (max-width: 815px) {
							font-size: 16px;
						}
					}
				}
				.checkone {
					background: url(../img/checkedd.svg) no-repeat left top;
				}
				.checktwo {
					background: url(../img/sand-clock1.svg) no-repeat left top;
				}
			}
			.puzzle {
				.viewport {
					max-width: 1030px;
					width: calc(100% - 20px);
					transition: 0.5s;
					@media (max-width: 1040px) {
						& {
							max-width: 800px;
						}
					}
					@media (max-width: 810px) {
						& {
							max-width: 500px;
						}
					}
					@media (max-width: 510px) {
						& {
							max-width: 300px;
						}
					}
					@media (max-width: 360px) {
						& {
							max-width: 280px;
						}
					}
					.list {
						display: flex;
						overflow-x: scroll;
						overscroll-behavior: contain;
						-webkit-overflow-scrolling: touch;
						touch-action: pan-x;
						&::-webkit-scrollbar {
							display: block;
						}
						&::-webkit-scrollbar {
							width: 0px;
						}
						&::-webkit-scrollbar-track {
							background: transparent;
						}
						&::-webkit-scrollbar-thumb {
							background: $color_gray;
							border-radius: 8px;
						}
						@media (max-width: 768px) {
							&::-webkit-scrollbar {
								display: none;
							}
						}
						.item {
							height: 479px;
							width: 420px;
							flex-shrink: 0;
							margin-right: 5px;
							padding: 270px 20px 20px 20px;
							background: url(../img/imgg.png) no-repeat left top, $color_white;
							box-shadow: 0px 10px 10px 0px rgba(44, 59, 99, 0.15);
							transition: 0.5s;
							&:last-child {
								position: relative;
								margin-right: 0px;
							}
							&:last-child::after {
								position: absolute;
								left: 100%;
								height: 1px;
								width: 20px;
								display: block;
								content: '';
							}
							@media (max-width: 1280px) {
								& {
									width: 370px;
									padding: 245px 20px 20px 20px;
								}
							}
							@media (max-width: 1040px) {
								& {
									width: 270px;
									padding: 245px 5px 5px 5px;
								}
							}
							@media (max-width: 810px) {
								& {
									width: 250px;
									height: 437px;
									padding: 245px 0px 5px 5px;
								}
							}
							h3 {
								@include fontst(
									$color_black_black,
									'TT Norms',
									24px,
									700,
									150%,
									normal,
									none
								);
								margin-bottom: 7px;
								transition: 0.5s;
								@media (max-width: 810px) {
									font-size: 20px;
								}
							}
							.location {
								display: flex;
								margin-bottom: 10px;
								img {
									margin-right: 10px;
								}
								span {
									@include fontst(
										$color_black_black,
										'TT Norms',
										14px,
										400,
										150%,
										normal,
										none
									);
								}
							}
							.napr-raz {
								display: flex;
								p {
									margin-bottom: 5px;
									@include fontst(
										$color_gray-2,
										'TT Norms',
										14px,
										400,
										150%,
										normal,
										none
									);
								}
								.napr {
									margin-right: 30px;
								}
								span {
									@include fontst(
										$color_black_black,
										'TT Norms',
										20px,
										700,
										normal,
										normal,
										none
									);
								}
							}
							.block-text {
								display: flex;
								align-items: center;
								justify-content: space-between;
								background-color: $color_blue;
								width: 200px;
								margin-top: 20px;
								transition: 0.5s;
								&:hover {
									background-color: $lite_blue;
								}
								@media (max-width: 810px) {
									margin-top: 5px;
								}
								p {
									margin-left: 20px;
									@include fontst(
										$color_white,
										'TT Norms',
										14px,
										700,
										150%,
										normal,
										none
									);
								}
								.arrow {
									background-color: $lite_blue;
									padding: 8px;
									transition: 0.5s;
									@media (max-width: 810px) {
										padding: 2px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
