* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container-header .fon .header-2 .clinic button {
  width: 284.534px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 33.5px;
  background: #ffc59e;
  box-shadow: 0px 4px 20px 0px #ffc59e;
  border: none;
  transition: transform 0.5s;
}

.container-header {
  background: #fffefe;
}
.container-header .fon {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../img/OIZUTT0.png) no-repeat 100% 100%, url(../img/_58409-8699.png) no-repeat 60% 100%;
}
.container-header .fon .header-2 {
  max-width: 1730px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 80.18px;
}
.container-header .fon .header-2 .menu_button {
  transform: rotate(90deg);
  transform-origin: left top;
  width: 490px;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 60px;
}
.container-header .fon .header-2 .menu_button button {
  transform: rotate(270deg);
  width: 40px;
  height: 40px;
  color: #c3b9b5;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.3s;
}
.container-header .fon .header-2 .menu_button button:hover {
  border: 1px solid #080606;
  border-radius: 50%;
  transform: scale(1.2) rotate(270deg);
}
.container-header .fon .header-2 .menu_button button:focus {
  border: 1px solid #080606;
  border-radius: 50%;
  transform: scale(1.2) rotate(270deg);
}
.container-header .fon .header-2 .clinic {
  width: 645px;
  margin: 0px 0px 0px 265px;
  display: flex;
  flex-direction: column;
}
.container-header .fon .header-2 .clinic h1 {
  color: #080606;
  font-family: "Roboto";
  font-size: 80px;
  font-weight: 400;
  line-height: 110px;
}
.container-header .fon .header-2 .clinic button {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 50px 0px 197px;
}
.container-header .fon .header-2 .clinic button:hover {
  transform: scale(1.1);
}
.container-header .fon .header-2 .clinic .number {
  display: flex;
  width: 1465px;
  justify-content: space-between;
}
.container-header .fon .header-2 .clinic .number .social_media {
  width: 284.534px;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  color: #c3b9b5;
}
.container-header .fon .header-2 .clinic .number .social_media i {
  transition: 0.5s;
}
.container-header .fon .header-2 .clinic .number .social_media i:hover {
  transform: scale(1.1);
}
.container-header .fon .header-2 .clinic .number span {
  align-self: center;
  color: #59443f;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

header {
  display: flex;
  max-width: 1760px;
  margin: 0 auto;
  padding-top: 60px;
  justify-content: space-between;
  align-items: center;
}
header input {
  display: none;
}
header label {
  font-size: 30px;
  color: #080606;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 25px;
}
header nav ul li button {
  background: none;
  border: none;
  padding: 0px;
  color: #c3b9b5;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  transition-duration: 1s;
}
header nav ul li button:hover {
  color: #59443f;
}
header nav ul li a {
  color: #c3b9b5;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  transition-duration: 1s;
}
header nav ul li a:hover {
  color: #59443f;
}
header nav ul .dropdown {
  position: relative;
  display: inline-block;
}
header nav ul .dropdown:hover .dropdown-content {
  display: block;
}
header nav ul .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 234.92px;
  padding-top: 10px;
  z-index: 1;
}
header nav ul .dropdown .dropdown-content ul {
  display: inline-block;
}
header nav ul .dropdown .dropdown-content ul li {
  transition: 1s;
  height: 30px;
}
header nav ul .dropdown .dropdown-content ul li:hover {
  border-bottom: none;
  transform: scale(1.1);
}
header nav ul .dropdown .dropdown-content ul li a {
  color: #080606;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}
header .navigation {
  display: flex;
}
header .navigation button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 10px;
  color: #ffc59e;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
header .navigation .fa-location-dot {
  font-size: 20px;
  color: #ffc59e;
}

.container {
  background: #fffefe;
}
.container .content {
  max-width: 1352px;
  margin: 0 auto;
  padding: 150.82px 0px 150px 0px;
}
.container .content .uslugi-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .content .uslugi-main .uslugi {
  padding: 14px;
  width: 320px;
  height: 220px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 4px 10px -1px rgba(163, 163, 163, 0.5);
  transition-duration: 1s;
}
.container .content .uslugi-main .uslugi:hover {
  transform: scale(1.1);
  box-shadow: 3px 4px 7px -1px rgba(163, 163, 163, 0.9);
}
.container .content .uslugi-main .uslugi:hover .fa-solid {
  color: #59443f;
}
.container .content .uslugi-main .uslugi .fa-solid {
  font-size: 90px;
  color: #ffc59e;
  align-self: flex-end;
}
.container .content .uslugi-main .uslugi h3 {
  color: #59443f;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.container .content .uslugi-main .uslugi span {
  color: #59443f;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.container-2 {
  background: #fbf8f8;
}
.container-2 section {
  max-width: 1254px;
  margin: 0 auto;
  padding: 180px 0px 0px 0px;
}
.container-2 section .history {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-2 section .history p {
  color: #080606;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 48px;
}
.container-2 section .history span {
  color: #59443f;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 36px;
}
.container-2 section .history .read-more {
  margin-bottom: 100px;
}
.container-2 section .history .read-more span {
  color: #ffc59e;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.container-2 section .history .read-more img {
  vertical-align: sub;
  height: 22px;
}/*# sourceMappingURL=scss.css.map */