@import '../../reset.scss';
@import '../../variables.scss';

.container {
	background: url(../img/video\ bg.png) no-repeat;
	header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding: 2rem 8%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 100;
		.logo {
			transition: 0.5s;
			&:hover {
				transform: scale(1.2);
			}
		}
		.navbar {
			a {
				@include fontst(black, 'TT Norms', 12px, 700, normal, 0.6px, uppercase);
				margin-left: 2rem;
				transition: 0.5s;
				&:hover {
					color: $color_blue;
				}
			}
		}
	}
}
