* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.wrapper .cat .clinic button {
  width: 284.534px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 33.5px;
  background: #ffc59e;
  box-shadow: 0px 4px 20px 0px #ffc59e;
  border: none;
  transition: transform 0.5s;
}

header {
  padding: 65px 80px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .nav {
  display: flex;
  flex-grow: 1;
  margin-left: 235px;
  margin-right: 333px;
}
header .nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
header .nav ul .dropdown {
  position: relative;
  display: inline-block;
}
header .nav ul .dropdown:hover .dropdown-content {
  display: block;
  width: 300px;
  padding: 40px 0px 40px 50px;
  border-radius: 20px;
}
header .nav ul .dropdown:hover .dropbtn {
  color: #59443f;
}
header .nav ul .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav ul .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .nav ul .dropdown .dropdown-content a:hover {
  background-color: #ddd;
}
header .nav ul li {
  display: inline;
  color: #c3b9b5;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
header .nav ul li:hover {
  cursor: pointer;
}
header .nav ul li a {
  color: #c3b9b5;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
header .location .fa-location-dot {
  color: #ffc59e;
  font-size: 20px;
}
header .location span {
  color: #ffc59e;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 10px;
}

.wrapper {
  background: url(../img/OIZUTT0.png) no-repeat right bottom;
  padding: 107px 79px 0px 110px;
}
.wrapper .cat {
  margin-right: 500px;
  background: url(../img/_58409-8699.png) no-repeat right bottom;
}
.wrapper .cat .left_menu {
  width: 490px;
  display: inline-flex;
  justify-content: space-between;
  transform: rotate(90deg);
  transform-origin: left center;
  margin-left: 25px;
}
.wrapper .cat .left_menu button {
  transform: rotate(270deg);
  width: 40px;
  height: 40px;
  color: #c3b9b5;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.3s;
}
.wrapper .cat .left_menu button:hover {
  border: 1px solid #080606;
  border-radius: 50%;
  transform: scale(1.2) rotate(270deg);
}
.wrapper .cat .left_menu button:focus {
  border: 1px solid #080606;
  border-radius: 50%;
  transform: scale(1.2) rotate(270deg);
}
.wrapper .cat .clinic {
  width: 645px;
  margin: 0px 0px 0px 265px;
  display: flex;
  flex-direction: column;
}
.wrapper .cat .clinic h1 {
  color: #080606;
  font-family: "EB Garamond";
  font-size: 80px;
  font-weight: 500;
  line-height: 110px;
}
.wrapper .cat .clinic button {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 50px 0px 197px;
}
.wrapper .cat .clinic button:hover {
  transform: scale(1.1);
}
.wrapper .cat .clinic .social_media {
  width: 284.534px;
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  color: #c3b9b5;
}
.wrapper .cat .clinic .social_media i {
  transition: 0.5s;
}
.wrapper .cat .clinic .social_media i:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=scss.css.map */