* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Norms";
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.container {
  background: url(../img/video\ bg.png) no-repeat;
  max-width: 1920px;
  margin: 0 auto;
}
.container header {
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  top: 0;
  left: 0;
  padding: 39px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}
@media (max-width: 815px) {
  .container header {
    padding: 20px 10px 0px 10px;
  }
}
.container header .logo {
  transition: 0.5s;
}
.container header .logo:hover {
  transform: scale(1.1);
}
.container header .navbar {
  display: flex;
  align-items: baseline;
}
@media (max-width: 815px) {
  .container header .navbar {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform-origin: top;
    background: #0c0e16;
    transform: scale(0);
    opacity: 0;
    padding: 0 15px;
  }
}
.container header .navbar a {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-left: 2rem;
  transition: 0.5s;
}
.container header .navbar a:hover {
  color: #2991d6;
}
@media (max-width: 1045px) {
  .container header .navbar a {
    margin-left: 1rem;
  }
}
@media (max-width: 935px) {
  .container header .navbar a {
    font-size: 10px;
  }
}
@media (max-width: 830px) {
  .container header .navbar a {
    margin-right: 7px;
    margin-left: 0px;
  }
}
@media (max-width: 815px) {
  .container header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 12px;
  }
}
.container header .navbar .dropdown {
  position: relative;
}
.container header .navbar .dropdown:hover .dropdown-menu {
  display: block;
  z-index: 150;
}
.container header .navbar .dropdown:hover .dropdown-menu-2 {
  display: block;
  z-index: 150;
}
.container header .navbar .dropdown .dropdown-menu {
  position: absolute;
  right: -22%;
  max-width: 151px;
  background: #0c0e16;
  padding: 30px;
  display: none;
}
@media (max-width: 1130px) {
  .container header .navbar .dropdown .dropdown-menu {
    padding: 15px;
    height: 165px;
  }
}
@media (max-width: 815px) {
  .container header .navbar .dropdown .dropdown-menu {
    right: 0%;
    left: 0%;
    padding: 15px 0px;
    width: 89px;
  }
}
.container header .navbar .dropdown .dropdown-menu a {
  margin: 0px 0px 10px 0px;
  display: inline-block;
}
@media (max-width: 815px) {
  .container header .navbar .dropdown .dropdown-menu a {
    color: #ffffff;
    font-size: 10px;
  }
}
.container header .navbar .dropdown .dropdown-menu a:hover {
  color: #2991d6;
}
.container header .navbar .dropdown .dropdown-menu-2 {
  position: absolute;
  max-width: 197px;
  background: #0c0e16;
  padding: 30px;
  display: none;
}
@media (max-width: 1245px) {
  .container header .navbar .dropdown .dropdown-menu-2 {
    padding: 20px;
  }
}
@media (max-width: 1130px) {
  .container header .navbar .dropdown .dropdown-menu-2 {
    padding: 15px;
    height: 165px;
  }
}
@media (max-width: 815px) {
  .container header .navbar .dropdown .dropdown-menu-2 {
    right: 0%;
    left: 0%;
    padding: 15px 0px;
    width: 100px;
  }
}
.container header .navbar .dropdown .dropdown-menu-2 a {
  margin: 0px 0px 10px 0px;
  display: inline-block;
}
@media (max-width: 815px) {
  .container header .navbar .dropdown .dropdown-menu-2 a {
    color: #ffffff;
    font-size: 55%;
  }
}
.container header .navbar .dropdown .dropdown-menu-2 a:hover {
  color: #2991d6;
}
.container header input {
  display: none;
}
.container header input:checked + label ~ .navbar {
  transform: scale(1);
  opacity: 1;
}
.container header label {
  font-size: 2rem;
  margin-right: 10px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  color: #ffffff;
}
@media (max-width: 815px) {
  .container header label {
    visibility: visible;
    opacity: 1;
    order: 1;
  }
}
.container .supp-container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 213px 10px 40px 10px;
  transition: 0.5s;
}
@media (max-width: 1340px) {
  .container .supp-container {
    padding: 100px 10px 60px 10px;
  }
}
@media (max-width: 1045px) {
  .container .supp-container {
    padding: 100px 10px 40px 10px;
  }
}
@media (max-width: 815px) {
  .container .supp-container {
    padding: 50px 10px 40px 10px;
  }
}
.container .supp-container section .company {
  margin-bottom: 196px;
  transition: 0.5s;
}
@media (max-width: 1045px) {
  .container .supp-container section .company {
    margin-bottom: 100px;
  }
}
@media (max-width: 815px) {
  .container .supp-container section .company {
    margin-bottom: 50px;
  }
}
.container .supp-container section .company h1 {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 54px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0.6;
  text-transform: none;
  transition: 0.5s;
}
@media (max-width: 1045px) {
  .container .supp-container section .company h1 {
    font-size: 45px;
  }
}
@media (max-width: 815px) {
  .container .supp-container section .company h1 {
    font-size: 30px;
  }
}
.container .supp-container section .company p {
  color: #cfcfcf;
  font-family: "TT Norms";
  font-size: 26px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.6;
  text-transform: none;
}
@media (max-width: 1045px) {
  .container .supp-container section .company p {
    font-size: 21px;
  }
}
@media (max-width: 815px) {
  .container .supp-container section .company p {
    font-size: 18px;
  }
}
.container .supp-container section .about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .supp-container section .about .prof {
  display: flex;
  align-items: flex-start;
  max-width: 330px;
  margin-bottom: 15px;
  transition: 0.5s;
}
.container .supp-container section .about .prof:hover {
  transform: scale(1.1);
}
.container .supp-container section .about .prof img {
  margin-right: 10px;
}
.container .supp-container section .about .prof p {
  color: #ffffff;
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.6;
  text-transform: none;
}
.container .supp-container section .about .prof span {
  color: #cfcfcf;
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.6;
  text-transform: none;
}

.two {
  background: transparent;
  padding: 120px 10px 0px 10px;
}
.two main section .blocks {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0px 120px 0px;
}
@media (max-width: 1260px) {
  .two main section .blocks {
    justify-content: center;
  }
}
.two main section .blocks .block-1 {
  background: url(../img/img.png) no-repeat;
  display: flex;
}
.two main section .blocks .block-1 .obertka {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-top: 420px;
}
.two main section .blocks .block-1 .obertka .block-text {
  padding: 27px 260px 26px 30px;
  background-color: #2991d6;
  transition: 0.5s;
}
.two main section .blocks .block-1 .obertka .block-text:hover {
  background-color: #32a1df;
}
@media (max-width: 638px) {
  .two main section .blocks .block-1 .obertka .block-text {
    padding: 27px 200px 26px 30px;
  }
}
.two main section .blocks .block-1 .obertka .block-button {
  background-color: #32a1df;
  width: 80px;
  padding: 19px 25px 19px 24px;
}
.two main section .blocks .block-2 {
  background: url(../img/img1.png) no-repeat;
  display: flex;
}
.two main section .blocks .block-2 .obertka {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-top: 420px;
}
.two main section .blocks .block-2 .obertka .block-text {
  padding: 27px 180px 26px 30px;
  background-color: #2991d6;
  transition: 0.5s;
}
.two main section .blocks .block-2 .obertka .block-text:hover {
  background-color: #32a1df;
}
@media (max-width: 641px) {
  .two main section .blocks .block-2 .obertka .block-text {
    padding: 27px 100px 26px 30px;
  }
}
.two main section .blocks .block-2 .obertka .block-button {
  background-color: #32a1df;
  width: 80px;
  padding: 19px 25px 19px 24px;
}
.two main section .blocks .block-3 {
  background: url(../img/img2.png) no-repeat;
  display: flex;
}
.two main section .blocks .block-3 .obertka {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-top: 420px;
}
.two main section .blocks .block-3 .obertka .block-text {
  padding: 27px 178px 26px 30px;
  background-color: #2991d6;
  transition: 0.5s;
}
.two main section .blocks .block-3 .obertka .block-text:hover {
  background-color: #32a1df;
}
.two main section .blocks .block-3 .obertka .block-button {
  background-color: #32a1df;
  width: 80px;
  padding: 19px 25px 19px 24px;
}/*# sourceMappingURL=scss.css.map */