//цвета
$color_while: #ffffff;
$color_blue: #2991d6;
$color_black: #080606;
$color_brown: #59443f;
$color_white: #ffffff;

//миксин
@mixin fontst($c, $ff, $fs, $fw, $lh, $ls, $tt) {
	color: $c;
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
	text-transform: $tt;
}

//кнопка оранжевая
%button_orange {
	width: 284.534px;
	height: 67px;
	flex-shrink: 0;
	border-radius: 33.5px;
	background: $color_orange;
	box-shadow: 0px 4px 20px 0px $color_orange;
	border: none;
	transition: transform 0.5s;
}
