//цвета
$color_blue: #2991d6;
$lite_blue: #32a1df;
$button: #118bdd;
$color_black: #080606;
$color_black_black: #000000;
$color_lite_gray: #8c94a6;
$color_gray: #cfcfcf;
$color_gray-2: #8b8b8b;
$color_gray-3: #434343;
$color_gray_gray: #fafafa;
$color_white: #ffffff;
$color_footer: #0c0e16;
$color_footer_a: #606269;
//миксин
@mixin fontst($c, $ff, $fs, $fw, $lh, $ls, $tt) {
	color: $c;
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	line-height: $lh;
	letter-spacing: $ls;
	text-transform: $tt;
}

//кнопка
%button_blue {
	background-color: $button;
	border: none;
	width: 70px;
	height: 40px;
	padding: 0px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
