@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-Medium.eot');
    src: url('CormorantInfant-Medium.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-Medium.woff2') format('woff2'),
        url('CormorantInfant-Medium.woff') format('woff'),
        url('CormorantInfant-Medium.ttf') format('truetype'),
        url('CormorantInfant-Medium.svg#CormorantInfant-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-Italic.eot');
    src: url('CormorantInfant-Italic.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-Italic.woff2') format('woff2'),
        url('CormorantInfant-Italic.woff') format('woff'),
        url('CormorantInfant-Italic.ttf') format('truetype'),
        url('CormorantInfant-Italic.svg#CormorantInfant-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-Regular.eot');
    src: url('CormorantInfant-Regular.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-Regular.woff2') format('woff2'),
        url('CormorantInfant-Regular.woff') format('woff'),
        url('CormorantInfant-Regular.ttf') format('truetype'),
        url('CormorantInfant-Regular.svg#CormorantInfant-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-Bold.eot');
    src: url('CormorantInfant-Bold.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-Bold.woff2') format('woff2'),
        url('CormorantInfant-Bold.woff') format('woff'),
        url('CormorantInfant-Bold.ttf') format('truetype'),
        url('CormorantInfant-Bold.svg#CormorantInfant-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-LightItalic.eot');
    src: url('CormorantInfant-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-LightItalic.woff2') format('woff2'),
        url('CormorantInfant-LightItalic.woff') format('woff'),
        url('CormorantInfant-LightItalic.ttf') format('truetype'),
        url('CormorantInfant-LightItalic.svg#CormorantInfant-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-Light.eot');
    src: url('CormorantInfant-Light.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-Light.woff2') format('woff2'),
        url('CormorantInfant-Light.woff') format('woff'),
        url('CormorantInfant-Light.ttf') format('truetype'),
        url('CormorantInfant-Light.svg#CormorantInfant-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-MediumItalic.eot');
    src: url('CormorantInfant-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-MediumItalic.woff2') format('woff2'),
        url('CormorantInfant-MediumItalic.woff') format('woff'),
        url('CormorantInfant-MediumItalic.ttf') format('truetype'),
        url('CormorantInfant-MediumItalic.svg#CormorantInfant-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-SemiBold.eot');
    src: url('CormorantInfant-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-SemiBold.woff2') format('woff2'),
        url('CormorantInfant-SemiBold.woff') format('woff'),
        url('CormorantInfant-SemiBold.ttf') format('truetype'),
        url('CormorantInfant-SemiBold.svg#CormorantInfant-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-BoldItalic.eot');
    src: url('CormorantInfant-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-BoldItalic.woff2') format('woff2'),
        url('CormorantInfant-BoldItalic.woff') format('woff'),
        url('CormorantInfant-BoldItalic.ttf') format('truetype'),
        url('CormorantInfant-BoldItalic.svg#CormorantInfant-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('CormorantInfant-SemiBoldItalic.eot');
    src: url('CormorantInfant-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CormorantInfant-SemiBoldItalic.woff2') format('woff2'),
        url('CormorantInfant-SemiBoldItalic.woff') format('woff'),
        url('CormorantInfant-SemiBoldItalic.ttf') format('truetype'),
        url('CormorantInfant-SemiBoldItalic.svg#CormorantInfant-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

